{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

  
  <form method="post" action="/account/close">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Account">
</form>
  

{% endjavascript %}